*{
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}
.container{
	min-width: 100vh;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	
}

.leftcv{
	flex: 1;
	background-color: rgba(63, 60, 60, 0.911);
	min-height: 100vh;
	padding: 10px;
	text-align: center;
	color: white;

}

.rightcv{
	flex: 4;
	padding: 10px;
	
	
}
.image img{
	height: 250px;
	border: 2px solid black;
	border-radius: 2px;
}

.image{
	padding: 10px;
	text-align: center;
}

hr{
	color: rgb(230, 99, 6);
	height: 0.5px;
	border: none;
	background-color: tomato;

	
}